body {
  background: url('1.jpg') no-repeat center center fixed; 
  background-size: cover;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #f2a900;
}

textarea {
  width: 90%;
  height: 30px;
  margin: 0px;
  padding: 5px;
  background-color: #111;
  color: green;
  border: 1px solid #f2a900;
  font-family: 'Courier New', monospace;
}

button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 16px;
  color: white;
  background-color: #f2a900;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d18e00;
}

.container {
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 500px;
}